# T1 images and FreeSurfer segmentations are expected to be found here
setenv SUBJECTS_DIR /users/dkim39/data/dkim39/maddata/PD/data/reconall_output
# Output directory where trac-all results will be saved
set dtroot = /users/dkim39/data/dkim39/maddata/PD/output

set subjlist = ( 3105 3105 )

Input diffusion DICOMS
set dcmlist = (/users/dkim39/data/dkim39/maddata/PD/data/DTI/3105/DTI/2011-03-24_13_32_35.0/I226401/PPMI_3105_MR_DTI_gated__br_raw_20110406113716428_1_S103324_I226401.dcm /users/dkim39/data/dkim39/maddata/PD/data/DTI/3105/DTI/2011-03-24_13_56_28.0/I226400/PPMI_3105_MR_DTI_gated__br_raw_20110406113704458_1_S103323_I226400.dcm )
set dob0 = 2
set echospacing = 0.63
set pedir = ( RL LR )
set epifactor = 90
set dTE = 88
set doeddy = 2
set dorotbvecs = 1
set intrareg = 3
set intradof = 9
set intrarot = 90
set interreg = 5
