# T1 images and FreeSurfer segmentations are expected to be found here
setenv SUBJECTS_DIR /users/dkim39/data/dkim39/maddata/PD/data/reconall_output
# Output directory where trac-all results will be saved
set dtroot = /users/dkim39/data/dkim39/maddata/PD/data/reconall_output

set subjlist = ( 3102 3102 )

Input diffusion DICOMS
set dcmlist = (/users/dkim39/data/dkim39/maddata/PD/data/DTI/3102/DTI/2010-11-23_09_55_27.0/I226369/PPMI_3102_MR_DTI_gated__br_raw_20110406103100332_1_S103297_I226369.dcm /users/dkim39/data/dkim39/maddata/PD/data/DTI/3102/DTI/2010-11-23_10_25_36.0/I226368/PPMI_3102_MR_DTI_gated__br_raw_20110406103027127_1_S103296_I226368.dcm )
set dob0 = 2
set echospacing = 0.63
set pedir = ( RL LR )
set epifactor = 90
set dTE = 88
set doeddy = 2
set dorotbvecs = 1
set intrareg = 3
set intradof = 9
set intrarot = 90
set interreg = 5
